

 <div style="width: 50%; margin-top: 2%; margin-left: 20%;" fxLayout="column">
  <mat-card class="mat-elevation-z8" *ngIf="quiz">
      <mat-card-title style="text-align:center" ><h1>{{quiz.quizName}}</h1></mat-card-title>
      <mat-card-content>
          <div *ngIf="isShown == true">
              <h1 style="text-align:center">Your Quiz Results</h1>
              <h2 style="text-align:center">Displaying for employee: {{employeeId}}</h2>
              <div *ngIf="quizSummary">

                <mat-card-content style="text-align:center; width:60%; margin: 0 auto; border-radius: 10px; border:1px solid black; box-shadow:10px 10px 10px grey;">
                    <br>
                    <h2 sytle="margin:10px;">Score:
                        <span *ngIf="quizSummary.score === '100'">
                            <span style="color: gold;">{{quizSummary.score}}</span>
                        </span>

                        <span *ngIf="quizSummary.score < '100' || quizSummary.score >= '80'">
                            <span style="color: green;">{{quizSummary.score}}</span>
                        </span>

                        <span *ngIf="quizSummary.score < '80' || quizSummary.score >= '61'">
                                <span style="color: yellowgreen;">{{quizSummary.score}}</span>
                        </span>

                        <span *ngIf="quizSummary.score < '61'">
                            <span style="color: red;">{{quizSummary.score}}</span>
                        </span>

                        %</h2>
                    <br>
                </mat-card-content>
                <br><br>

                <div style="width:80%; margin:0 auto;">
                    <div *ngFor="let summary of quizSummary;">

                        <div *ngIf="summary.answer === summary.answerGiven">
                            <p style="font-weight: bold;">Question: {{summary.question}}</p>
                            <p >Correct Answer:  {{summary.answer}}</p>
                            <p style="color:green;">Selected Answer:  {{summary.answerGiven}}</p>
                        </div>

                        <div *ngIf="summary.answer != summary.answerGiven">
                            <p style="font-weight: bold;">Question: {{summary.question}}</p>
                            <p >Correct Answer:  {{summary.answer}}</p>
                            <p style="color:red;">Selected Answer:  {{summary.answerGiven}}</p>
                        </div>
                        <hr>
                        <br>
                    </div>

                </div>


              </div>
          </div>
          <form #quizForm="ngForm" (ngSubmit)="onSubmit(quizForm.value);" *ngIf="isShown == false">
              <mat-card style="width: 80%; margin: 0 auto;">
                  <mat-card-content fxLayout="column" fxLayoutGap="10px">

                      <small *ngIf="errorMessage">{{ errorMessage }}<br/></small>

                      <ol>
                        <li *ngFor="let question of quiz.questions">
                          {{ question.questionAsked }}
                          <br><br>


                        <div *ngFor="let questionAnswers of question.answers">

                            <input class=""
                            [(ngModel)]="qs[question.questionId]"
                            [checked]="qs[question.questionId]"
                            value="{{question.questionAsked}};{{questionAnswers}};{{question.questionAnswer}}"
                            name="q{{question.questionId}}" type="radio" />{{ questionAnswers }} <br><br>


                        </div><!--End of questionAnswers loop-->

                           <br><br>
                        </li>
                       </ol>



                  </mat-card-content>

                  <mat-card-actions style="width: 50%; text-align:left">
                      <button fxFlex mat-raised-button color="primary" type="submit">Submit</button>
                  </mat-card-actions>

              </mat-card>

              <br /><br />
              <button mat-fab color="warn" (click)="backPage()">Back</button>
          </form>


      </mat-card-content>
  </mat-card>
</div>
