

 <div style="width: 50%; margin-top: 2%; margin-left: 20%;" fxLayout="column">
  <mat-card class="mat-elevation-z8">
      <mat-card-title style="text-align:center"><h1>{{quiz.quizName}}</h1></mat-card-title>
      <!--<p>EmployeeId: {{employeeId}}</p>-->
      <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);">
              <mat-card style="width: 80%; margin: 0 auto;">
                  <mat-card-content fxLayout="column" fxLayoutGap="10px">

                      <small *ngIf="errorMessage">{{ errorMessage }}<br/></small>

                      <ol>
                        <li *ngFor="let question of quiz.questions">
                          {{ question.questionAsked }}
                          <br><br>


                        <div *ngFor="let questionAnswers of question.answers">


                            <input class="quiz-radio-group"
                            [(ngModel)]="qs[question.questionId]"
                            [(checked)]="qs[question.questionId]"
                            value="{{questionAnswers}};{{question.questionAnswer}}"
                            name="q{{question.questionId}}" type="radio" />{{ questionAnswers }} <br>


                            <!--
                            <mat-radio-button class="quiz-radio-group"
                                [(ngModel)]="qs[question.questionId]" [(checked)]="qs[question.questionId]"
                                [ngModelOptions]="{standalone: true}"
                                ngDefaultControl
                                value="{{questionAnswers}};{{question.questionAnswer}}"
                                name="q{{question.questionId}}">{{ questionAnswers }} <br>
                            </mat-radio-button>
                          -->

                        </div><!--End of questionAnswers loop-->

                           <br><br>
                        </li>
                       </ol>



                  </mat-card-content>

                  <mat-card-actions style="width: 50%; text-align:left">
                      <button fxFlex mat-raised-button color="primary" type="submit">Submit</button>
                  </mat-card-actions>

              </mat-card>
          </form>
          <br /><br />
          <button mat-fab color="warn" (click)="backPage()">Back</button>

      </mat-card-content>
  </mat-card>
</div>
